@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.233);
  --font-size: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size);
  background-image: url(../images/bg-intro-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--Red);
  color: var(--white);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 100vh;
  padding: 0 10rem;
}

section {
  flex-direction: column;
  max-width: 100%;
  width: 50%;
}

.left-col {padding-inline-end: 3rem;}

.left-col h1 {
  font-size: 3.125rem;
  line-height: 3.5rem;
  margin-block-end: 2rem;
}

.left-col p {
  line-height: 2rem;
  opacity: .9;
}

.head {
  background-color: var(--Blue);
  padding: 1rem;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
  margin-block-end: 1.25rem;
  box-shadow: 0px 3px 1px 1px var(--black);
}

.head span {font-weight: var(--semiBold);}

form {
  display: flex;
  width: 90%;
  padding: 2rem;
  background-color: var(--white);
  border-radius: .5rem;
  flex-direction: column;
  box-shadow: 0px 2px 1px 1px var(--black);
}

form .form-control {
  display: flex;
  flex-direction: column;
}

input, button {
  border-radius: .5rem;
  padding:  1rem;
  border: 1px solid var(--Grayish-Blue);
  margin-block-end: 1rem;
  font-weight: var(--semiBold);
} 

button {
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  color: var(--white);
  background-color: var(--Green);
  text-transform: uppercase;
  font-weight: var(--semiBold);
  box-shadow: 0px 2px 1px 1px var(--Green);
}

input:focus {
  outline: none;
  border: 1px solid var(--Blue);
}

button:hover {
  opacity: .9;
}

form p {
  font-size: .7rem;
  color: var(--Grayish-Blue);
  margin: auto;
}

form p span {
  color: var(--Red);
  font-weight: var(--bold);
}

.error-message {
  font-size: .2rem;
  font-style: italic;
  color: var(--Red);
  margin-block: -.9rem 1.25rem;
  margin-left: auto;
}

.form-control.error input {border: 2px solid var(--Red);}

.form-control.success input {border: 2px solid var(--Green);}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 2.5rem 1.25rem;
    background-image: url(../images/bg-intro-mobile.png);
  }
  
  section {width: 100%;}
  
  .left-col {
    text-align: center;
    padding: 2.5rem 0 1.25rem;
  }

  .left-col h1 {font-size: 2.4rem;}

  .head {padding: .9rem 3.7rem;}
}
